body{
    background-color: aliceblue;
}

/* main content grid */
.grid-container {
    display: grid;
    row-gap: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

.grid-content{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
}
.menu-bar {
    text-align: end;
}

.menu-bar li {
    display: inline-flex;
    list-style: none;
    color: black;
}
.img_left{
    float: left;
    padding: 10px;
 }

 .grid-container-details{
    display: grid;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10em;
    padding-bottom: 10em;
}


