body{
    background-color: aliceblue;
    display: grid;
    place-items: center;
}

/* main content grid */
.grid-container {
    display: grid;
    grid-template-columns: 320px 300px;
    row-gap: 30px;

}

.menu-bar {
    text-align: end;
}

.menu-bar li {
    display: inline-flex;
    list-style: none;
    color: black;
}

.button {
    display: flex;

}